{% extends 'base.html' %}
{% block content %}
    <dev>
        <h1>Wellcome{% if user %} {{ user }}{% endif %}!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus eget enim ut lorem imperdiet molestie eget eu nunc. Nulla facilisi.
            Suspendisse interdum tellus non felis blandit, vel lobortis risus rhoncus.
            Donec ac justo consequat, posuere urna sed, pharetra augue. Ut finibus maximus augue.
            Aliquam lobortis lorem a magna vestibulum, eget rhoncus enim ultricies.
            Praesent augue odio, tempor non volutpat sit amet, ultricies nec enim.
            Maecenas sed nulla tristique, aliquam urna eget, facilisis mi.
            Cras efficitur non dolor at interdum.
            Sed cursus posuere odio et luctus. Fusce rhoncus felis in elementum volutpat.
            Quisque a metus sit amet augue venenatis ullamcorper eu nec eros. Nam eu dapibus diam.
            Proin quis nisl sit amet tellus vulputate feugiat vitae suscipit ante.
            Integer volutpat cursus augue, at ornare mi posuere in. Sed ac lorem lectus.</p>
    </dev>
{% endblock %}
